.cardd {
  display: flex;
  gap: 15px;
}
.cardContainer {
  width: Fixed 326px ;
  height:  104.82px px;
  top: 297px;
  gap: 15px;
  opacity: 0px;
}

.card {
  width: 98.82px;
  height: 104.82px;
  gap: 0px;
  opacity: 0px;
  margin-top: -10px;
}

.cardImage {
  width: 96.84px;
  height: 57.55px;
  top: 0.81px;
  left: 0.99px;
  gap: 0px;
  opacity: 0px;
}
.cardContent {
  width: 96.84px;
  height: 57.55px;
  top: 0.81px;
  left: 0.99px;
  gap: 0px;
  opacity: 0px;
}
.textContainer {
  width:  62px ;
  height: Fixed 27px px;
  top: 65px;
  left: 18px;
  gap: 0px;
  opacity: 0px;
  margin-left: 15px;
}
.title {
  width: 62px;
  height: 14px;
  gap: 0px;
  opacity: 0px;
  font-family: Jost;
  font-size: 10.91px;
  font-weight: 400;
  line-height: 15.76px;
}
.description {
  width: 61px;
  height: 13px;
  gap: 0px;
  opacity: 0px;
  font-family: Jost;
  font-size: 8.73px;
  font-weight: 400;
  line-height: 12.61px;
  text-align: center;
  color: #999999;
}
.cardContainer2 {
  width: 78px ;
  height: Fixed 27px ;
  top: 65px;
  left: 10px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
}
.textContainer2 {
  width:  78px ;
  height: Fixed 27px ;
  top: 65px;
  left: 10px;
  gap: 0px;
  justify-content: space-between;
  opacity: 0px;
  margin-left: 15px;
  display: grid;
  

}
.title2 {
  width: 78px;
  height: 14px;
  gap: 0px;
  opacity: 0px;
  font-family: Jost;
  font-size: 10.91px;
  font-weight: 400;
  line-height: 15.76px;
  text-align: center;
  color: #000000;
}
.description2 {
  width: 62px;
  height: 13px;
  gap: 0px;
  opacity: 0px;
  font-family: Jost;
  font-size: 8.73px;
  font-weight: 400;
  line-height: 12.61px;
  color: #999999;
}
